<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>e-cart</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.customer.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>customerinsert</servlet-name>
    <servlet-class>com.customer.CustomerInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerinsert</servlet-name>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updatecustomer</servlet-name>
    <servlet-class>com.customer.UpdateCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatecustomer</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deletecustomer</servlet-name>
    <servlet-class>com.customer.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletecustomer</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeliveryFormServlet</servlet-name>
    <servlet-class>com.ManageDeliveries.DeliveryPersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryFormServlet</servlet-name>
    <url-pattern>/new2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeliveryInsertServlet</servlet-name>
    <servlet-class>com.ManageDeliveries.DeliveryPersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryInsertServlet</servlet-name>
    <url-pattern>/insert2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeliveryUpdateServlet</servlet-name>
    <servlet-class>com.ManageDeliveries.DeliveryPersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryUpdateServlet</servlet-name>
    <url-pattern>/update2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeliveryDeleteServlet</servlet-name>
    <servlet-class>com.ManageDeliveries.DeliveryPersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryDeleteServlet</servlet-name>
    <url-pattern>/delete2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeliveryEdit1Servlet</servlet-name>
    <servlet-class>com.ManageDeliveries.DeliveryPersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryEdit1Servlet</servlet-name>
    <url-pattern>/edit2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeliveryListServlet</servlet-name>
    <servlet-class>com.ManageDeliveries.DeliveryPersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryListServlet</servlet-name>
    <url-pattern>/list2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderFormServlet</servlet-name>
    <servlet-class>com.ManageOrders.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderFormServlet</servlet-name>
    <url-pattern>/new3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderInsertServlet</servlet-name>
    <servlet-class>com.ManageOrders.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderInsertServlet</servlet-name>
    <url-pattern>/insert3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderUpdateServlet</servlet-name>
    <servlet-class>com.ManageOrders.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderUpdateServlet</servlet-name>
    <url-pattern>/update3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderDeleteServlet</servlet-name>
    <servlet-class>com.ManageOrders.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDeleteServlet</servlet-name>
    <url-pattern>/delete3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderEdit1Servlet</servlet-name>
    <servlet-class>com.ManageOrders.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderEdit1Servlet</servlet-name>
    <url-pattern>/edit3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.ManageOrders.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/list3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductFormServlet</servlet-name>
    <servlet-class>com.ManageMenu.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductFormServlet</servlet-name>
    <url-pattern>/new4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductInsertServlet</servlet-name>
    <servlet-class>com.ManageMenu.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductInsertServlet</servlet-name>
    <url-pattern>/insert4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductUpdateServlet</servlet-name>
    <servlet-class>com.ManageMenu.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductUpdateServlet</servlet-name>
    <url-pattern>/update4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductDeleteServlet</servlet-name>
    <servlet-class>com.ManageMenu.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDeleteServlet</servlet-name>
    <url-pattern>/delete4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductEdit1Servlet</servlet-name>
    <servlet-class>com.ManageMenu.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductEdit1Servlet</servlet-name>
    <url-pattern>/edit4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>com.ManageMenu.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/list4</url-pattern>
  </servlet-mapping>
  <display-name>User Management Web Application</display-name>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/Error.jsp</location>
  </error-page>
</web-app>